<%inherit file="/base/index.html"/>
<%namespace file="/component/storytable.html" name="storytable"/>

<div id="stories"> </div>

<p>
    <a href="/stories/new" accesskey="n" id="new_story">Add <em>n</em>ew story</a>
    |
    <a href="/sprints/list">Show sprints</a>
</p>

<%def name="title()">Stories</%def>
<%def name="body_attributes()">class="yui-skin-sam"</%def>
<%def name="head()">
    ${storytable.head()}
    <script type="text/javascript" src="/static/stories/list.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/stories/list.css" />
</%def>