<%inherit file="/base/index.html"/>
<%namespace file="/component/storytable.html" name="storytable"/>

<div id="sprintstories"></div>

<div id="stories" class="hidden"></div>
<a href="" id="stories_close_link" class="hidden">Close story selector</a>
<a href="" id="stories_link">Add stories</a>

<%def name="title()">Sprint ${c.id}</%def>
<%def name="heading()"><h1>${self.title()}</h1></%def>
<%def name="body_attributes()">class="yui-skin-sam"</%def>
<%def name="head()">
    ${storytable.head()}
    <script type="text/javascript" src="/static/sprints/selector.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/sprints/selector.css" />
    <script type="text/javascript" src="/static/sprints/stories.js"></script>
</%def>
